.header{
    height: 5rem;
    background-color: #0ABAB5;
    display: flex;
    justify-content: center;    
}
.nav{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
    width: 60vw;
}