.watchcard {
  height: 40%;
  width: 40%;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.button {
  height: 30px;
  width: 60%;
  padding: 0;
  border: none;
  background: none;
  background-color: plum;
  border-radius: 6%;
  margin-bottom: 5px;
}
.button:hover {
  cursor: pointer;
}
