.main{
    display: flex;
}
.archive{
    height: calc(100vh - 5rem);
    width: 64vw;
    background-color: cadetblue;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    text-shadow: black 0 0 5px;
}
.watchlist{
    height: calc(100vh - 5rem);
    width: 36vw;
    background-color: lightcoral;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    text-shadow: black 0 0 5px;
}